In [1]:
from nba_api.stats.endpoints import playercareerstats
# Anthony Davis
career = playercareerstats.PlayerCareerStats(player_id='203076')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2012-13,00,1610612740,NOH,20.0,64,60,1846.0,349,...,0.751,165,357,522,63,75,112,89,158,867
1,203076,2013-14,00,1610612740,NOP,21.0,67,66,2358.0,522,...,0.791,207,466,673,105,89,189,109,200,1394
2,203076,2014-15,00,1610612740,NOP,22.0,68,68,2455.0,642,...,0.805,173,523,696,149,100,200,95,141,1656
3,203076,2015-16,00,1610612740,NOP,23.0,61,61,2164.0,560,...,0.758,130,497,627,116,78,125,121,148,1481
4,203076,2016-17,00,1610612740,NOP,24.0,75,75,2708.0,770,...,0.802,172,712,884,157,94,167,181,168,2099
5,203076,2017-18,00,1610612740,NOP,25.0,75,75,2727.0,780,...,0.828,187,644,831,174,115,193,162,159,2110
6,203076,2018-19,00,1610612740,NOP,26.0,56,56,1850.0,530,...,0.794,174,498,672,218,88,135,112,132,1452
7,203076,2019-20,00,1610612747,LAL,27.0,62,62,2131.0,551,...,0.846,142,435,577,200,91,143,154,156,1618

In [2]:
from nba_api.stats.static import teams
# get_teams returns a list of 30 dictionaries, each an NBA team.
nba_teams = teams.get_teams()
print('Number of teams fetched: {}'.format(len(nba_teams)))
nba_teams[:3]

Number of teams fetched: 30

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

In [9]:
from nba_api.stats.endpoints import playerawards

In [10]:
ad = playerawards.PlayerAwards(player_id='203076')

In [17]:
ad = ad.get_data_frames()[0]

In [38]:
ad.loc[(ad['MONTH'].isnull() & ad['WEEK'].isnull())]

,PERSON_ID,FIRST_NAME,LAST_NAME,TEAM,DESCRIPTION,ALL_NBA_TEAM_NUMBER,SEASON,MONTH,WEEK,CONFERENCE,TYPE,SUBTYPE1,SUBTYPE2,SUBTYPE3
0,203076,Anthony,Davis,USA,Olympic Gold Medal,None,2012,None,None,None,Award,Olympic,Gold,None
1,203076,Anthony,Davis,New Orleans Pelicans,All-Rookie Team,1,2012-13,None,None,1610612740,Award,Kia Motors,KIART,None
2,203076,Anthony,Davis,New Orleans Pelicans,All-NBA,1,2014-15,None,None,1610612740,Award,Kia Motors,KIANT,None
3,203076,Anthony,Davis,New Orleans Pelicans,All-Defensive Team,2,2014-15,None,None,1610612740,Award,Kia Motors,KIADT,None
6,203076,Anthony,Davis,New Orleans Pelicans,All-NBA,1,2016-17,None,None,West,Award,Kia Motors,KIANT,None
7,203076,Anthony,Davis,New Orleans Pelicans,All-NBA,1,2017-18,None,None,West,Award,Kia Motors,KIANT,None
12,203076,Anthony,Davis,New Orleans Pelicans,NBA All-Star Most Valuable Player,,2016-17,None,None,,Award,Kia Motors,KAMVP,
14,203076,Anthony,Davis,New Orleans Pelicans,All-Defensive Team,2,2016-17,None,None,None,,None,None,None
15,203076,Anthony,Davis,New Orleans Pelicans,All-Defensive Team,1,2017-18,None,None,West,Award,Kia Motors,KIADT,None
18,203076,Anthony,Davis,Los Angeles Lakers,All-Defensive Team,1,2019-20,None,None,West,Award,Kia Motors,KIADT,None
19,203076,Anthony,Davis,Los Angeles Lakers,All-NBA,1,2019-20,None,None,West,Award,Kia Motors,KIANT,None